
<div class="container-fluid">

    <div class="row">
        
    @if (pokemon) {
        <div class="col-12 d-flex justify-content-center  align-items: center mt-5">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header  d-flex justify-content-center  align-items: center">
                        <img class="img-fluid" src="{{pokemon.sprites.other.dream_world.front_default}}" >
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">ID: {{pokemon.id}}</li>
                            <li class="list-group-item">Nombre: {{pokemon.name}}</li>
                            <li class="list-group-item">Peso: {{pokemon.weight}}</li>
                            <li class="list-group-item">Altura: {{pokemon.height}}</li>
                            <li class="list-group-item">Base experiencia: {{pokemon.base_experience}}</li>
                            <li class="list-group-item">
                                <h5>Tipos</h5>
                                @for (i of pokemon.types; track  $index) {
                                    <p>{{i.type.name}}</p>
                                }
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer  d-flex justify-content-center align-items-center">
                        <button class="btn btn-warning" (click)="volverInicio()">Volver al Inicio</button>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>